@media screen and (min-width:376px){
  #blog>header{
    position: sticky;
    top: 0;
    z-index: 998;
  }
}
@media screen and (max-width: 600px) {
  #blog>header section:first-child{
    display: none!important;
  }
}
@media screen and (min-width: 601px) {
  #blog>header section:last-child{
    display: none!important;
  }
}
@media screen and (max-width: 1260px) {
  #blog>main>section{
    grid-template-columns: 80vw!important;
    grid-template-rows: auto auto!important;
    grid-template-areas: 'a' 'b'!important;
  }
  #blog>main>section aside:first-child{
    display: none!important;
  } 
  #blog>main>section aside:last-child {
    grid-area: b!important;
  }
}
@media screen and (min-width: 1261px) and (max-width: 1680px) {
  #blog>main>section{
    grid-template-columns: 300px 1fr!important;
    grid-template-rows: 350px auto!important;
    grid-template-areas: 'a b' 'c b'!important;
    row-gap: 10px!important;
  }
  #blog>main>section aside:last-child {
    grid-area: c!important;
  }
  #blog>main>section #content,#blog>main>section #article {
    grid-area: b!important;
  }
}
@media screen and (min-width: 1681px) {
  #blog>main aside:first-child .me{
    position: sticky;
    top: 80px;
  }
  #blog>main aside:last-child .search{
    position: sticky;
    top: 80px;
  }
  #blog>main aside:last-child .sort{
    position: sticky;
    top: 190px;
  }
  #blog>main aside:last-child article{
    position: sticky;
    top: 360px;
  }
  #blog>main aside:last-child .link{
    position: sticky;
    top: 578px;
  }
}